@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.product-shelf {
  padding-top: 34px;
  padding-bottom: 74px;
  background-color: $color-background;

  &__header {
    text-align: center;
    margin-bottom: 2px;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    color: $color-secondary; /* Rosa (#F71963) */
    margin-bottom: 30px;

    &::before, &::after {
      content: '';
      flex: 1;
      height: 1px;
      background: #DEDEDE;
    }
  }

  &__title::before {
    margin-right: 34px;
  }

  &__title::after {
    margin-left: 34px;
  }

  &__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0; 
    border: 1px solid #BDBDBD;
    max-width: 1160px;
    margin: 0 auto;
    border-radius: 0px; 
    padding: 0;
  }

  &__tab {
    padding: 12px 20px;
    font-size: 16px;
    color: #3B3B3B;
    cursor: pointer;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.2s;
    border-right: 1px solid #BDBDBD;
    flex: 1;
    text-align: center;

    &:last-child {
      border-right: none;
    }

    &.active, &:hover {
      color: $color-secondary;
      font-weight: 700;
    }
  }

  &__carousel-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1270px;
    margin: 0 auto;
  }

  &__grid {
    display: flex;
    gap: 62px; /* Margin entre cards baseado no width: 1270 e 4 cards de 270px (= 1080) sobrando 190. 190/3 = 63.3 */ /* Baseado no figma width total: 1270 */
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 30px 0;
    scroll-behavior: smooth;

    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__card-wrapper {
    flex: 0 0 270px;
    min-width: 270px;
    scroll-snap-align: start;
  }

  &__arrow {
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #404040;

    img {
      width: 32px;
      height: 32px;
    }

    &.left {
      left: -47px;
    }

    &.right {
      right: -47px;
    }
  }
}
