@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.banners {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $color-background;

  &__inner {
    display: flex;
    justify-content: center;
    gap: 13px; /* Entre os 2 banners de 634px para fechar 1281 de width como o frame 12729:947 do Figma */
    max-width: 1281px;
    margin: 0 auto;

    @include respond-to($breakpoint-md) {
      flex-direction: column;
    }
  }

  &__card {
    flex: 0 0 634px;
    height: 350px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 100%);
      z-index: 1;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    padding: 0 0 40px 44px;
    color: $color-white;
  }

  &__title {
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 32px;
    width: 200px;
  }

  &__btn {
    background-color: $color-primary;
    color: $color-white;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 12px 24px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: opacity 0.2s;
    letter-spacing: 1px;

    &:hover {
      opacity: 0.9;
    }
  }
}
